body{
    background: #ddd;
    color: #f0f;
}
#pic{
    background: url(../images/timg.jpg);
    width: 500px;
    height: 400px;
    transform: translateX(100px);
    box-shadow: 0 0 10px #ddd;
    display: flex;
}
#cs{
    background: #ddd;
    color: #fff;
    font-size: 50px;
}